{% extends 'input.html' %}

{% block output %}
    <br><br>
    <div class="container", style="text-align:center">
        <div class="starter-template">
            <h3>Consider these alternatives to "{{ query }}":</h3>
            <font size="+2">
            {% for suggestion in suggestions %}
            <br>
            <a href="https://stackoverflow.com/search?q={{ suggestion }}" target="_blank">{{ suggestion }}</a>
            {% endfor %}
            </font>

        </div>
    </div><!-- /.container -->

{% endblock %}
